@page "/add-tbl-po-purchase-order"
@layout MainLayout
@inherits ErpCan.Pages.AddTblPoPurchaseOrderComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent Container="contentContainer0">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@(tblpopurchaseorder)" TItem="ErpCan.Models.CanErpDbAt132.TblPoPurchaseOrder" Visible="@(tblpopurchaseorder != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="PO_ID" style="width: 100%" Text="PO ID">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="15" style="display: block; width: 100%" @bind-Value="@((tblpopurchaseorder.PO_ID))" Name="PO_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PO_ID" style="position: absolute" Text="PO_ID is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="PODate" style="width: 100%" Text="Ngày PO">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@((tblpopurchaseorder.PODate))" Name="PODate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="CreatedBy_FK" style="width: 100%" Text="Nhân viên tạo">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblGnAddressBooksResult)" Placeholder="Choose TblGnAddressBook" style="width: 100%" TextProperty="FirstName" @bind-Value="@((tblpopurchaseorder.CreatedBy_FK))" ValueProperty="AddressBook_SEQ" Name="CreatedBy_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="POStatus_FK" style="width: 100%" Text="Tình trạng PO">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblPoOrderStatusesResult)" Placeholder="Choose TblPoOrderStatus" style="width: 100%" TextProperty="POStatusText" @bind-Value="@((tblpopurchaseorder.POStatus_FK))" ValueProperty="POStatus_ID" Name="POStatus_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Vendor_FK" style="width: 100%" Text="Nhà cung cấp">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblPoVendorsResult)" Placeholder="Choose TblPoVendor" style="width: 100%" TextProperty="LastName" @bind-Value="@((tblpopurchaseorder.Vendor_FK))" ValueProperty="Vendor_ID" Name="Vendor_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Description" style="width: 100%" Text="Diễn giải">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="150" style="width: 100%" @bind-Value="@((tblpopurchaseorder.Description))" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Incoterm_ID" style="width: 100%" Text="Incoterm">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblIncotermsResult)" TItem="ErpCan.Models.CanErpDbAt132.TblGnIncoterm" Placeholder="Choose TblPoOrderStatus" style="width: 100%" TextProperty="POStatusText" @bind-Value="@((tblpopurchaseorder.POStatus_FK))" ValueProperty="POStatus_ID" Name="Incoterm_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="ShipVia_FK" style="width: 100%" Text="Ship via">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblGnShipViaResult)" Placeholder="Choose TblGnShipVium" style="width: 100%" TextProperty="ShipVia_ID" @bind-Value="@((tblpopurchaseorder.ShipVia_FK))" ValueProperty="ShipVia_SEQ" Name="ShipVia_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="PaymentTerm_FK" style="width: 100%" Text="Điều kiện thanh toán">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblGnPaymentTermsResult)" Placeholder="Choose TblGnPaymentTerm" style="width: 100%" TextProperty="PaymentTerm_ID" @bind-Value="@((tblpopurchaseorder.PaymentTerm_FK))" ValueProperty="PaymentTerm_SEQ" Name="PaymentTerm_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="PaymentType_FK" style="width: 100%" Text="Kiểu thanh toán">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblGnPaymentTypesResult)" Placeholder="Choose TblGnPaymentType" style="width: 100%" TextProperty="PaymentType_ID" @bind-Value="@((tblpopurchaseorder.PaymentType_FK))" ValueProperty="PaymentType_SEQ" Name="PaymentType_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Buyer_FK" style="width: 100%" Text="Nhân viên đặt mua">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@(getTblGnAddressBooksResult)" Placeholder="Choose TblGnAddressBook" style="width: 100%" TextProperty="FirstName" @bind-Value="@((tblpopurchaseorder.Buyer_FK))" ValueProperty="AddressBook_SEQ" Name="Buyer_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TaxYN" style="width: 100%" Text="Có thuế?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox TriState="true" @bind-Value="@((tblpopurchaseorder.TaxYN))" Name="TaxYN">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TaxtRate" style="width: 100%" Text="Taxt Rate">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblpopurchaseorder.TaxtRate))" Name="TaxtRate">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Department_FK" style="width: 100%" Text="Bộ phận đặt">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="5" style="width: 100%" @bind-Value="@((tblpopurchaseorder.Department_FK))" Name="Department_FK">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="PO_Amount" style="width: 100%" Text="Thành tiền PO">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@((tblpopurchaseorder.PO_Amount))" Name="PO_Amount">
                </RadzenNumeric>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
