@page "/add-tbl-po-rec-report"
@layout MainLayout
@inherits ErpCan.Pages.AddTblPoRecReportComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent @ref="content1" Container="contentContainer0">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(tblporecreport)" Visible="@(tblporecreport != null)" TItem="ErpCan.Models.CanErpDbAt132.TblPoRecReport" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" Text="Rr No" Component="RR_No" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="rrNo" MaxLength="15" style="display: block; width: 100%" Name="RR_No">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="rrNoRequiredValidator" Component="RR_No" Text="RR_No is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="Rr Date" Component="RRDate" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="rrDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="DateTime.Now" Name="RRDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label3" Text="Tbl Gn Address Book" Component="CreatedBy_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="createdByFk" Data="@(getTblGnAddressBooksResult)" TextProperty="AddressBook_ID" ValueProperty="AddressBook_SEQ" Placeholder="Choose TblGnAddressBook" style="width: 100%" Name="CreatedBy_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label4" Text="Po Id" Component="PO_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="poId" MaxLength="15" style="width: 100%" Name="PO_ID">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label5" Text="Po Status Fk" Component="POStatus_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="poStatusFk" style="width: 100%" Name="POStatus_FK" TItem="int?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label6" Text="Po Date" Component="PODate" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="poDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="DateTime.Now" Name="PODate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label7" Text="Tbl Po Vendor" Component="Vendor_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="vendorFk" Data="@(getTblPoVendorsResult)" TextProperty="LastName" ValueProperty="Vendor_ID" Placeholder="Choose TblPoVendor" style="width: 100%" Name="Vendor_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label8" Text="Description" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="description" MaxLength="150" style="width: 100%" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label9" Text="Invoice No" Component="Invoice_No" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="invoiceNo" MaxLength="15" style="width: 100%" Name="Invoice_No">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label10" Text="Invoice Date" Component="Invoice_Date" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="invoiceDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="DateTime.Now" Name="Invoice_Date">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label11" Text="Ship No" Component="Ship_No" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="shipNo" MaxLength="6" style="width: 100%" Name="Ship_No">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label12" Text="Ship Date" Component="Ship_Date" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="shipDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="DateTime.Now" Name="Ship_Date">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label13" Text="Receiver Fk" Component="Receiver_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="receiverFk" style="width: 100%" Name="Receiver_FK" TItem="int?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label14" Text="Bill Of Loading No" Component="BillOf_Loading_No" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="billOfLoadingNo" MaxLength="7" style="width: 100%" Name="BillOf_Loading_No">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label15" Text="Po Amount" Component="PO_Amount" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="poAmount" style="width: 100%" Name="PO_Amount" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label16" Text="Inactive" Component="Inactive" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @ref="inactive" TriState="true" Name="Inactive">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label17" Text="Warhoused" Component="Warhoused" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @ref="warhoused" TriState="true" Name="Warhoused">
                </RadzenCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button1" ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton @ref="button2" ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
