@page "/edit-tbl-po-account-payable/{AP_No}"
@layout MainLayout
@inherits ErpCan.Pages.EditTblPoAccountPayableComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent @ref="content1" Container="contentContainer0">
  <ChildContent>
    <div style="" class="row">
      <div class="col-md-9">
        <RadzenLabel @ref="closeLabel" style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton @ref="closeButton" ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" TItem="ErpCan.Models.CanErpDbAt132.TblPoAccountPayable" Data="@(tblpoaccountpayable)" Visible="@(tblpoaccountpayable != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="Ap No" Component="AP_No" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="apNo" MaxLength="10" style="display: block; width: 100%" Value="@($"{tblpoaccountpayable.AP_No}")" Name="AP_No">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="apNoRequiredValidator" Component="AP_No" Text="AP_No is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label3" Text="Tbl Po Vendor" Component="Vendor_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="vendorFk" Data="@(getTblPoVendorsResult)" TextProperty="LastName" ValueProperty="Vendor_ID" Placeholder="Choose TblPoVendor" style="width: 100%" Value="@(tblpoaccountpayable.Vendor_FK)" Name="Vendor_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label4" Text="Transact No" Component="Transact_No" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="transactNo" MaxLength="15" style="width: 100%" Value="@($"{tblpoaccountpayable.Transact_No}")" Name="Transact_No">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label5" Text="Record Code" Component="Record_Code" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="recordCode" MaxLength="2" style="width: 100%" Value="@($"{tblpoaccountpayable.Record_Code}")" Name="Record_Code">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label6" Text="Po No" Component="PO_No" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="poNo" MaxLength="15" style="width: 100%" Value="@($"{tblpoaccountpayable.PO_No}")" Name="PO_No">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label7" Text="Transact Date" Component="Transact_Date" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="transactDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="@(tblpoaccountpayable.Transact_Date)" Name="Transact_Date">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label8" Text="Description" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="description" MaxLength="150" style="width: 100%" Value="@($"{tblpoaccountpayable.Description}")" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label9" Text="Amount" Component="Amount" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="amount" style="width: 100%" Value="@(tblpoaccountpayable.Amount)" Name="Amount" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label10" Text="Tbl Gn Department" Component="Department_FK" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="departmentFk" Data="@(getTblGnDepartmentsResult)" TextProperty="Deparment_Name" ValueProperty="Department_ID" Placeholder="Choose TblGnDepartment" style="width: 100%" Value="@(tblpoaccountpayable.Department_FK)" Name="Department_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button2" ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton @ref="button3" ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
