@page "/edit-tbl-po-ap-invoice/{Vendor_ID}/{Invoice_No}"
@layout MainLayout
@inherits ErpCan.Pages.EditTblPoApInvoiceComponent

@using Radzen
@using Radzen.Blazor
@using ErpCan.Models.CanErpDbAt132
<RadzenContent @ref="content1" Container="contentContainer0">
  <ChildContent>
    <div style="" class="row">
      <div class="col-md-9">
        <RadzenLabel @ref="closeLabel" style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton @ref="closeButton" ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" TItem="ErpCan.Models.CanErpDbAt132.TblPoApInvoice" Data="@(tblpoapinvoice)" Visible="@(tblpoapinvoice != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="Tbl Po Vendor" Component="Vendor_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="vendorId" Data="@(getTblPoVendorsResult)" TextProperty="LastName" ValueProperty="Vendor_ID" Placeholder="Choose TblPoVendor" style="display: block; width: 100%" Value="@(tblpoapinvoice.Vendor_ID)" Name="Vendor_ID">
                </RadzenDropDown>
                <RadzenRequiredValidator @ref="vendorIdRequiredValidator" Component="Vendor_ID" Text="Vendor_ID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label3" Text="Invoice No" Component="Invoice_No" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="invoiceNo" MaxLength="15" style="display: block; width: 100%" Value="@($"{tblpoapinvoice.Invoice_No}")" Name="Invoice_No">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="invoiceNoRequiredValidator" Component="Invoice_No" Text="Invoice_No is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label4" Text="Invoice Date" Component="Invoice_Date" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="invoiceDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="@(tblpoapinvoice.Invoice_Date)" Name="Invoice_Date">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label5" Text="Po Id" Component="PO_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="poId" MaxLength="15" style="width: 100%" Value="@($"{tblpoapinvoice.PO_ID}")" Name="PO_ID">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label6" Text="Po Date" Component="PO_Date" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="poDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="@(tblpoapinvoice.PO_Date)" Name="PO_Date">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label7" Text="Description" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="description" MaxLength="150" style="width: 100%" Value="@($"{tblpoapinvoice.Description}")" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label8" Text="Invoice Amount" Component="Invoice_Amount" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="invoiceAmount" style="width: 100%" Value="@(tblpoapinvoice.Invoice_Amount)" Name="Invoice_Amount" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label9" Text="Discount Amount" Component="Discount_Amount" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="discountAmount" style="width: 100%" Value="@(tblpoapinvoice.Discount_Amount)" Name="Discount_Amount" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label10" Text="Due Date" Component="Due_Date" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="dueDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="@(tblpoapinvoice.Due_Date)" Name="Due_Date">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label11" Text="Paid" Component="Paid" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @ref="paid" TriState="true" Value="@(tblpoapinvoice.Paid)" Name="Paid">
                </RadzenCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button2" ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton @ref="button3" ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
