@page "/add-customer"
@layout MainLayout
@inherits QuanLyBanHang.Pages.AddCustomerComponent

@using Radzen
@using Radzen.Blazor
@using QuanLyBanHang.Models.OtErp
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <RadzenTemplateForm @ref="form0" Data="@(tblsocustomer)" style="height: 797px; width: 887px" Visible="@(tblsocustomer != null)">
      <ChildContent>
        <div class="row">
          <div class="col-md-2">
            <RadzenLabel @ref="label1" Text="Mã khách hàng">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox0" style="width: 107px" Name="Textbox0">
            </RadzenTextBox>
          </div>
          <div class="col-md-3">
            <RadzenLabel @ref="label2" Text="Danh bạ khách hàng">
            </RadzenLabel>
          </div>
          <div class="col-md-3">
            <RadzenDropDown @ref="dropdown0" Data="@(CustomersResult)" Disabled="true" TextProperty="FirstName" ValueProperty="AddressBook_SEQ" Name="Dropdown0">
            </RadzenDropDown>
          </div>
        </div>
        <div style="border-bottom: 1px solid rgb(33, 37, 41)" class="row">
          <div class="col-md-2">
            <RadzenLabel @ref="label3" Text="Họ và tên lót">
            </RadzenLabel>
          </div>
          <div class="col-md-3">
            <RadzenTextBox @ref="textbox1" Name="Textbox1">
            </RadzenTextBox>
          </div>
          <div class="col-md-1">
            <RadzenLabel @ref="label4" Text="Tên">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox2" style="width: 122px" Name="Textbox2">
            </RadzenTextBox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <RadzenLabel @ref="label5" Text="Mức tín dụng">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox3" style="width: 141px" Name="Textbox3">
            </RadzenTextBox>
          </div>
          <div class="col-md-4">
            <RadzenLabel @ref="label6" style="width: 277px" Text="Ngày phê duyệt mức tín dụng gần nhất">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox4" Name="Textbox4">
            </RadzenTextBox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <RadzenLabel @ref="label16" Text="Điều kiện thanh toán">
            </RadzenLabel>
          </div>
          <div class="col-md-3">
            <RadzenDropDown @ref="dropdown1" Data="@(PaymentTermsResult)" TextProperty="PaymentTerm_ID" ValueProperty="PaymentTerm_SEQ" Name="Dropdown1">
            </RadzenDropDown>
          </div>
          <div class="col-md-3">
            <RadzenLabel @ref="label14" Text="Hình thức thanh toán">
            </RadzenLabel>
          </div>
          <div class="col-md-3">
            <RadzenDropDown @ref="dropdown2" Data="@(PaymentTypesResult)" TextProperty="PaymentType_ID" ValueProperty="PaymentType_SEQ" Name="Dropdown2">
            </RadzenDropDown>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <RadzenLabel @ref="label7" Text="% Chiết khấu">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox5" style="width: 138px" Name="Textbox5">
            </RadzenTextBox>
          </div>
          <div class="col-md-2">
            <div class="col-md-2">
              <RadzenLabel @ref="label8" style="width: 122.671875px" Text="MDT Bán">
              </RadzenLabel>
            </div>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox6" Name="Textbox6">
            </RadzenTextBox>
          </div>
        </div>
        <div style="height: 43px" class="row">
          <div class="col-md-4">
            <RadzenLabel @ref="label9" Text="Tiền hàng bán trả lại hiện hành">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox7" style="width: 138px" Name="Textbox7">
            </RadzenTextBox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <RadzenLabel @ref="label10" style="width: 144px" Text="Doanh thu xổi YTD">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox8" style="width: 133px" Name="Textbox8">
            </RadzenTextBox>
          </div>
          <div class="col-md-4">
            <RadzenLabel @ref="label11" Text="Tiền hàng bán trả lại YTD">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox9" Name="Textbox9">
            </RadzenTextBox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <RadzenLabel @ref="label12" Text="Giá phí hàng bán YTD">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox10" style="width: 138px" Name="Textbox10">
            </RadzenTextBox>
          </div>
        </div>
        <div style="height: 43px" class="row">
          <div class="col-md-3">
            <RadzenLabel @ref="label13" Text="Doanh thu xổi năm trước LYR">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox11" style="width: 138px" Name="Textbox11">
            </RadzenTextBox>
          </div>
          <div class="col-md-4">
            <RadzenLabel @ref="label18" Text="Giá phí hàng bán LYR">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox14" Name="Textbox14">
            </RadzenTextBox>
          </div>
        </div>
        <div style="border-bottom: 1px solid rgb(33, 37, 41)" class="row">
          <div class="col-md-4">
            <RadzenLabel @ref="label17" Text="Doanh thu lần chót">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox13" style="width: 138px" Name="Textbox13">
            </RadzenTextBox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <RadzenLabel @ref="label19" Text="% hoa hồng nhân viên bán hàng">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox12" style="width: 107px" Name="Textbox12">
            </RadzenTextBox>
          </div>
          <div class="col-md-3">
            <RadzenLabel @ref="label20" Text="Danh bạ NV bán hàng">
            </RadzenLabel>
          </div>
          <div class="col-md-3">
            <RadzenDropDown @ref="dropdown3" Data="@(EmployeesResult)" TextProperty="FirstName" ValueProperty="AddressBook_SEQ" Name="Dropdown3">
            </RadzenDropDown>
          </div>
        </div>
        <div style="border-bottom: 1px solid rgb(33, 37, 41); height: 55px" class="row">
          <div class="col-md-4">
            <RadzenLabel @ref="label15" Text="MTD Kế hoạch người bán">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox15" style="width: 107px" Name="Textbox15">
            </RadzenTextBox>
          </div>
          <div class="col-md-3">
            <RadzenLabel @ref="label21" Text="MTD Kế hoạch người bán">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox16" style="width: 107px" Name="Textbox16">
            </RadzenTextBox>
          </div>
        </div>
        <div style="height: 51px" class="row">
          <div class="col-md-1">
            <RadzenCheckBox @ref="checkbox0" Name="Checkbox0">
            </RadzenCheckBox>
          </div>
          <div class="col-md-2">
            <RadzenLabel @ref="label22" Text="Tính lãi?">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-1">
            <RadzenCheckBox @ref="checkbox1" Name="Checkbox1">
            </RadzenCheckBox>
          </div>
          <div class="col-md-2">
            <RadzenLabel @ref="label23" Text="Liệt kê công nợ?">
            </RadzenLabel>
          </div>
        </div>
        <div style="border: 1px solid rgb(33, 37, 41); height: 55px" class="row">
          <div class="col-md-2">
            <RadzenLabel @ref="label25" Text="Tuổi nợ 30">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox18" style="width: 107px" Name="Textbox18">
            </RadzenTextBox>
          </div>
          <div class="col-md-2">
            <RadzenLabel @ref="label24" Text="Tuổi nợ 60">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox17" style="width: 107px" Name="Textbox17">
            </RadzenTextBox>
          </div>
          <div class="col-md-2">
            <RadzenLabel @ref="label26" Text="Tuổi nợ 90">
            </RadzenLabel>
          </div>
          <div class="col-md-2">
            <RadzenTextBox @ref="textbox19" style="width: 107px" Name="Textbox19">
            </RadzenTextBox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <RadzenLabel @ref="label27" Text="Ngày nhật tu gần nhất">
            </RadzenLabel>
          </div>
          <div class="col-md-3">
            <RadzenDatePicker @ref="datepicker0" Name="Datepicker0">
            </RadzenDatePicker>
          </div>
          <div class="col-md-3">
            <RadzenLabel @ref="label28" Text="Người nhật tu gần nhất">
            </RadzenLabel>
          </div>
          <div class="col-md-3">
            <RadzenDropDown @ref="dropdown4" Name="Dropdown4">
            </RadzenDropDown>
          </div>
        </div>
        <div style="border-bottom: 1px solid rgb(33, 37, 41); height: 74px" class="row">
          <div class="col-md-2">
            <RadzenLabel @ref="label29" Text="Ghi chú">
            </RadzenLabel>
          </div>
          <div class="col-md-4">
            <RadzenTextArea @ref="textarea0" style="width: 263px" Name="Textarea0">
            </RadzenTextArea>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <RadzenCheckBox @ref="checkbox2" Name="Checkbox2">
            </RadzenCheckBox>
            <RadzenLabel @ref="label30" Text="Không dùng nữa">
            </RadzenLabel>
          </div>
        </div>
        <div class="row">
          <div class="offset-sm-3 col-md-9">
            <RadzenButton @ref="button0" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
            </RadzenButton>
            <RadzenButton @ref="button1" ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button1Click">
            </RadzenButton>
          </div>
        </div>
      </ChildContent>
    </RadzenTemplateForm>
  </ChildContent>
</RadzenContent>
