@page "/add-tbl-so-customer"
@layout MainLayout
@inherits QuanLyBanHang.Pages.AddTblSoCustomerComponent

@using Radzen
@using Radzen.Blazor
@using QuanLyBanHang.Models.OtErp
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(tblsocustomer)" TItem="TblSoCustomer" Visible="@(tblsocustomer != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" Component="Customer_ID" style="width: 100%" Text="Mã khách hàng">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="customerId" MaxLength="10" style="display: block; width: 100%" Name="Customer_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="customerIdRequiredValidator" Component="Customer_ID" style="position: absolute" Text="Customer_ID is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label0" Component="CustomerAdressBook_FK" style="width: 100%" Text="Danh bạ khách hàng">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="customerAdressBookFk" Data="@(getTblGnAddressBooksResult)" Placeholder="Choose TblGnAddressBook" style="width: 100%" TextProperty="AddressBook_ID" ValueProperty="AddressBook_SEQ" Name="CustomerAdressBook_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label3" Component="LastName" style="width: 100%" Text="Last Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="lastName" MaxLength="50" style="width: 100%" Name="LastName">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label4" Component="FirstName" style="width: 100%" Text="First Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="firstName" MaxLength="50" style="width: 100%" Name="FirstName">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label5" Component="CreditLimit" style="width: 100%" Text="Mức tín dụng">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="creditLimit" style="width: 100%" Name="CreditLimit" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label6" Component="LastRevisedCreditLimitDate" style="width: 100%" Text="Ngạy duyệt tín dụng gần nhất">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="lastRevisedCreditLimitDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="DateTime.Now" Name="LastRevisedCreditLimitDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label7" Component="PaymentTerm_FK" style="width: 100%" Text="Điều kiện thanh toán">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="paymentTermFk" Data="@(getTblGnPaymentTermsResult)" Placeholder="Choose TblGnPaymentTerm" style="width: 100%" TextProperty="PaymentTerm_ID" ValueProperty="PaymentTerm_SEQ" Name="PaymentTerm_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label8" Component="PaymentType_FK" style="width: 100%" Text="Hình thức thanh toán">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="paymentTypeFk" Data="@(getTblGnPaymentTypesResult)" Placeholder="Choose TblGnPaymentType" style="width: 100%" TextProperty="PaymentType_ID" ValueProperty="PaymentType_SEQ" Name="PaymentType_FK">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label9" Component="DiscountPercent" style="width: 100%" Text="% Chiết khấu">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="discountPercent" style="width: 100%" Name="DiscountPercent" TItem="int?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label10" Component="Current_MTD_Sales" style="width: 100%" Text="MDT Bán">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="currentMtdSales" style="width: 100%" Name="Current_MTD_Sales" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label11" Component="Current_MTD_Returns" style="width: 100%" Text="Tiền hàng trả lại hiện hành MTD">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="currentMtdReturns" style="width: 100%" Name="Current_MTD_Returns" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label12" Component="YTD_GrossSales" style="width: 100%" Text="Doanh thu YTD">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="ytdGrossSales" style="width: 100%" Name="YTD_GrossSales" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label13" Component="YTD_Returns" style="width: 100%" Text="Tiền hàng trả lại YTD">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="ytdReturns" style="width: 100%" Name="YTD_Returns" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label14" Component="YTD_COGS" style="width: 100%" Text="Chi phí bán hàng YTD">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="ytdCogs" style="width: 100%" Name="YTD_COGS" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label15" Component="LYR_GrossSales" style="width: 100%" Text="Doanh thu xổi năm trước LYR">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="lyrGrossSales" style="width: 100%" Name="LYR_GrossSales" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label16" Component="LYR_COGS" style="width: 100%" Text="Giá phí bán hàng LYR">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="lyrCogs" style="width: 100%" Name="LYR_COGS" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label17" Component="LastAmountSales" style="width: 100%" Text="Doanh thu lần chót">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="lastAmountSales" style="width: 100%" Name="LastAmountSales" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label18" Component="CommissionPercent" style="width: 100%" Text="Hoa hồng nhân viên bán hàng">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="commissionPercent" style="width: 100%" Name="CommissionPercent" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" Component="CommissionPercent" style="width: 100%" Text="Danh bạ NV bán hàng">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown @ref="dropdown0" Data="@(getTblGnAddressBooksResult)" Placeholder="Choose TblGnAddressBook" style="width: 100%" TextProperty="AddressBook_ID" ValueProperty="AddressBook_SEQ" Name="Dropdown0">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label20" Component="SalesPerson_MTD_Goal" style="width: 100%" Text="MTD Kế hoạch người bán">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="salesPersonMtdGoal" style="width: 100%" Name="SalesPerson_MTD_Goal" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label21" Component="SalesPerson_YTD_Goal" style="width: 100%" Text="YTD Kế hoạch người bán">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="salesPersonYtdGoal" style="width: 100%" Name="SalesPerson_YTD_Goal" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label22" Component="ChargeInterest" style="width: 100%" Text="Tính lãi?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @ref="chargeInterest" TriState="true" Name="ChargeInterest">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label23" Component="Statement" style="width: 100%" Text="Liệt kê công nợ?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @ref="statement" TriState="true" Name="Statement">
                </RadzenCheckBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label24" Component="Aging30DayAmout" style="width: 100%" Text="Tuổi nợ 30">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="aging30DayAmout" style="width: 100%" Name="Aging30DayAmout" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label25" Component="Aging60DayAmout" style="width: 100%" Text="Tuổi nợ 60">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="aging60DayAmout" style="width: 100%" Name="Aging60DayAmout" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label26" Component="Aging90DayAmout" style="width: 100%" Text="Aging 90 Day Amout">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="aging90DayAmout" style="width: 100%" Name="Aging90DayAmout" TItem="decimal?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Component="LastUpdatedDate" style="width: 100%" Text="Ngày nhật tu gần nhất">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="lastUpdatedDate" DateFormat="MM/dd/yyyy" style="width: 100%" Value="DateTime.Now" Name="LastUpdatedDate">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label28" Component="Notes" style="width: 100%" Text="Ghi chú">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="notes" style="width: 100%" Name="Notes">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label29" Component="LastUdpatedBy" style="width: 100%" Text="Người nhật tu gần nhất">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="lastUdpatedBy" style="width: 100%" Name="LastUdpatedBy" TItem="int?">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label30" Component="Inactive" style="width: 100%" Text="Không dùng nữa?">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenCheckBox @ref="inactive" TriState="true" Name="Inactive">
                </RadzenCheckBox>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button1" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Lưu">
                </RadzenButton>
                <RadzenButton @ref="button2" ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
