@page "/edit-tbl-gn-payment-term/{PaymentTerm_SEQ}"
@layout MainLayout
@inherits QuanLyBanHang.Pages.EditTblGnPaymentTermComponent

@using Radzen
@using Radzen.Blazor
@using QuanLyBanHang.Models.OtErp
<RadzenContent @ref="content1" @ref:suppressField Container="main">
  <ChildContent>
    <div style="" class="row">
      <div class="col-md-9">
        <RadzenLabel @ref="closeLabel" @ref:suppressField style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton @ref="closeButton" @ref:suppressField ButtonStyle="secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" @ref:suppressField Data="@(tblgnpaymentterm)" Visible="@(tblgnpaymentterm != null && canEdit)" TItem="TblGnPaymentTerm" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" @ref:suppressField Text="Payment Term Text" Component="PaymentTermText" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="paymentTermText" @ref:suppressField MaxLength="50" style="display: block; width: 100%" Name="PaymentTermText">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="paymentTermTextRequiredValidator" @ref:suppressField Component="PaymentTermText" Text="PaymentTermText is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label3" @ref:suppressField Text="Payment Term Id" Component="PaymentTerm_ID" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="paymentTermId" @ref:suppressField MaxLength="20" style="display: block; width: 100%" Name="PaymentTerm_ID">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="paymentTermIdRequiredValidator" @ref:suppressField Component="PaymentTerm_ID" Text="PaymentTerm_ID is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button2" @ref:suppressField ButtonType="submit" Icon="save" Text="Save" ButtonStyle="primary">
                </RadzenButton>
                <RadzenButton @ref="button3" @ref:suppressField ButtonStyle="light" Text="Cancel" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
